{{ define "main" }}
  {{ $isPhotosPage := hasPrefix .RelPermalink "/photos" }}
  {{ $isRepliesPage := hasPrefix .RelPermalink "/replies" }}
  {{ $isPostsPage := hasPrefix .RelPermalink "/posts" }}
  {{ $isNotesPage := hasPrefix .RelPermalink "/notes" }}
  {{ if and (not $isPhotosPage) (not $isRepliesPage) (not $isPostsPage) (not $isNotesPage) }}
    {{ with .Content }}
      <div class="microblog_category_intro">{{ . }}</div>
    {{ end }}
  {{ end }}
  {{ partial "post-list.html" . }}
{{ end }}
