{{ define "main" }}
{{ $isBooksPage := hasPrefix .RelPermalink "/books" }}
{{ $isPhotosPage := hasPrefix .RelPermalink "/photos" }}
{{ $isArchivePage := hasPrefix .RelPermalink "/archive" }}
{{ $isRepliesPage := hasPrefix .RelPermalink "/replies" }}
{{ $isFeedStylePage := or $isPhotosPage $isArchivePage $isRepliesPage }}

{{ if $isFeedStylePage }}
  {{ partial "post-list.html" . }}
{{ else }}
  <article class="h-entry post{{ if $isBooksPage }} books-page{{ end }}">
    {{ if not $isBooksPage }}
      {{ with .Title }}
        <header>
          <h1 class="p-name">{{ . }}</h1>
        </header>
      {{ end }}
    {{ end }}

    {{ if not $isBooksPage }}
      <aside class="post-info">
        <span class="post-info-name">{{ default .Site.Title .Site.Author.name }}</span>
        <a class="post-info-link u-url" href="{{ .Permalink }}">
          <time class="post-info-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </a>
      </aside>
    {{ end }}

    <section class="e-content post-body{{ if $isBooksPage }} books-page-content{{ end }}">
      {{ .Content }}
    </section>

    {{ if $isBooksPage }}
      {{ partial "bookshelf.html" . }}
    {{ end }}
  </article>
{{ end }}
{{ end }}
