{{ define "main" }}
<article class="h-entry post">
  {{ with .Title }}
    <header>
      <h1 class="p-name">{{ . }}</h1>
    </header>
  {{ end }}

  <aside class="post-info">
    <span class="post-info-name">{{ default .Site.Title .Site.Author.name }}</span>
    <a class="post-info-link u-url" href="{{ .Permalink }}">
      <time class="post-info-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    </a>
  </aside>

  <section class="e-content post-body">
    {{ .Content }}
  </section>
</article>
{{ end }}
