<style>
:root {
  --bg: {{ default "#f7f7f5" .Site.Params.alpine_accent_background_color }};
  --accent: {{ default "#f15a24" .Site.Params.alpine_accent_text_color }};
  --international-orange: {{ default "#ff4f00" .Site.Params.alpine_accent_text_color }};
  --hover-surface: {{ default "#fafaf8" .Site.Params.alpine_hover_background_color }};
  --cover-image: url("{{ default "https://cdn.some.pics/hunsanger/698352185cddc.jpg" .Site.Params.alpine_cover_image }}");
}

{{ with .Site.Author.avatar }}
:root {
  --avatar-url: url("{{ . }}");
}
{{ end }}
</style>
