<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f7f7f5">
  <meta content="{{ .Site.Author.name }}" name="author">

  <title>
      {{- block "title" . -}}
		{{- .Site.Title -}}
		{{- if and .Title (ne .Title .Site.Title) }}
		- {{ .Title }}
		{{- end -}}
      {{- end -}}
  </title>

  {{ $assetVersion := default (now.Unix) .Site.Params.theme_seconds }}
  <link href="{{ "assets/css/style.css" | relURL }}?v={{ $assetVersion }}" rel="stylesheet">
  <link href="{{ "assets/css/highlight.css" | relURL }}?v={{ $assetVersion }}" rel="stylesheet">
  <link href="{{ "assets/css/alpine.css" | relURL }}?v={{ $assetVersion }}" rel="stylesheet">
  <link href="{{ "assets/css/custom.css" | relURL }}?v={{ $assetVersion }}" rel="stylesheet">
  <link href="{{ "assets/css/override.css" | relURL }}?v={{ $assetVersion }}" rel="stylesheet">
  <script src="{{ "assets/js/dark-mode.js" | relURL }}?v={{ $assetVersion }}"></script>
  {{ partialCached "alpine.html" . }}
  {{ partial "microblog_head.html" . }}
</head>
