<nav class="main-nav">

	<div class="site-title">
		<img src="{{ .Site.Author.avatar }}" width="30" height="30" class="site-image">		
		<a href="/">{{ .Site.Title }}</a>
	</div>

	<div class="site-menus">

	{{ if ne .IsHome true }}
<!--
	<a class="normal" href="/"> <span class="arrow">←</span> Home</a>
-->
	{{ end }}

	{{ range .Site.Menus.main }}
		{{ if .Page.Params.redirect_url }}
			<a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
		{{ else }}
			<a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}

	<div id="dark-mode-toggle-wrapper" role="switch" aria-label="Toggle dark mode" title="Toggle dark mode" class="dark-mode-toggle" tabindex="0" aria-checked="false">
		<!-- The toggle is now a CSS-based slider, no need for SVG icons -->
	</div>

	</div>
</nav>
