<li>
  <article class="h-entry">
    {{ $content := trim .Content " \n\r\t" }}
    {{ $summary := trim .Summary " \n\r\t" }}

    <aside class="post-info">
      <span class="post-info-name">
        {{ if .Params.author }}{{ .Params.author.name }}{{ else }}{{ default .Site.Title .Site.Author.name }}{{ end }}
      </span>
      <a class="post-info-link u-url" href="{{ .Permalink }}">
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="post-info-date dt-published">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </a>
    </aside>

    {{ with .Title }}
      <header class="post-body">
        <h2><a href="{{ $.Permalink }}" class="p-name">{{ . }}</a></h2>
      </header>
    {{ end }}

    {{ if ne $content "" }}
      <section class="post-body e-content">{{ .Content }}</section>
    {{ else if ne $summary "" }}
      <section class="post-body e-content">{{ .Summary }}</section>
    {{ end }}

    {{ if and (eq .Type "reply") .Params.reply_to_url }}
      <p class="reply-context">
        Replying to
        {{ if eq .Params.reply_to_hostname "micro.blog" }}
          <a href="{{ .Params.reply_to_url }}" class="u-in-reply-to">@{{ .Params.reply_to_username }}</a>
        {{ else }}
          <a href="{{ .Params.reply_to_url }}" class="u-in-reply-to">{{ .Params.reply_to_hostname }}</a>
        {{ end }}
      </p>
    {{ end }}

    {{ with .Params.tags }}
      <aside class="post-tags">
        {{ range . }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </aside>
    {{ end }}

    {{ if .Params.bluesky }}
      <a class="u-syndication" {{ printf "href=%q" .Params.bluesky.url | safeHTMLAttr }} style="display: none;">Also on Bluesky</a>
    {{ end }}
  </article>
</li>
