<ul id="post-list" class="h-feed">

{{ $isPhotosPage := hasPrefix .RelPermalink "/photos" }}
{{ $isArchivePage := hasPrefix .RelPermalink "/archive" }}

{{ if .IsHome }}
	{{ $homePages := where .Site.RegularPages "Type" "post" }}
	{{ $homePages = $homePages.ByDate.Reverse }}
	{{ if .Site.Params.paginate_home }}
		{{ $paginator := .Paginate $homePages }}
		{{ range $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $homePages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}
{{ else }}
	{{ $sectionPages := .Pages.ByDate.Reverse }}
	{{ if $isArchivePage }}
		{{ $sectionPages = (where .Site.RegularPages "Type" "post").ByDate.Reverse }}
	{{ else if $isPhotosPage }}
		{{ $photoPages := where .Site.RegularPages "Type" "photo" }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "Params.photos" "!=" nil }}
		{{ end }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "Section" "photos" }}
		{{ end }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "RelPermalink" "like" "^/photos/" }}
		{{ end }}
		{{ if gt (len $photoPages) 0 }}
			{{ $sectionPages = $photoPages.ByDate.Reverse }}
		{{ end }}
	{{ end }}
	{{ if .Site.Params.paginate_categories }}
		{{ $paginator := .Paginate $sectionPages }}
		{{ range $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $sectionPages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}
{{ end }}

</ul>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}
