<ul id="post-list" class="h-feed">

{{ if .IsHome }}
	{{ $homePages := where .Pages.ByDate.Reverse "Type" "post" }}
	{{ if .Site.Params.paginate_home }}
		{{ $paginator := .Paginate $homePages }}
		{{ range $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $homePages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}
{{ else }}
	{{ $sectionPages := .Pages.ByDate.Reverse }}
	{{ if .Site.Params.paginate_categories }}
		{{ $paginator := .Paginate $sectionPages }}
		{{ range $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $sectionPages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}
{{ end }}

</ul>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}
