<ul id="post-list" class="h-feed">

{{ $isPhotosPage := hasPrefix .RelPermalink "/photos" }}
{{ $isArchivePage := hasPrefix .RelPermalink "/archive" }}
{{ $isRepliesPage := hasPrefix .RelPermalink "/replies" }}

{{ if .IsHome }}
	{{ $homePages := where .Site.RegularPages "Type" "post" }}
	{{ $homePages = $homePages.ByDate.Reverse }}
	{{ $homeFeed := slice }}

	{{ range $homePages }}
		{{ $homeFeed = $homeFeed | append (dict "kind" "microblog" "timestamp" .Date.Unix "page" .) }}
	{{ end }}

	{{ with .Site.Data.bluesky_feed }}
		{{ range .posts }}
			{{ $textLower := lower (strings.TrimSpace (default "" .text)) }}
			{{ $isBookStatus := or (hasPrefix $textLower "started reading:") (hasPrefix $textLower "reading:") (hasPrefix $textLower "finished reading:") }}
			{{ $isSelfSiteLink := in $textLower "hunsanger.blog" }}
			{{ if and .created_at_unix .url (not $isBookStatus) (not $isSelfSiteLink) }}
				{{ $homeFeed = $homeFeed | append (dict "kind" "bluesky" "timestamp" .created_at_unix "item" .) }}
			{{ end }}
		{{ end }}
	{{ end }}

	{{ $homeFeed = sort $homeFeed "timestamp" "desc" }}

	{{ if .Site.Params.paginate_home }}
		{{ $paginator := .Paginate $homeFeed }}
		{{ range $paginator.Pages }}
			{{ partial "home-feed-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $homeFeed }}
			{{ partial "home-feed-item.html" . }}
		{{ end }}
	{{ end }}
{{ else }}
	{{ $sectionPages := .Pages.ByDate.Reverse }}
	{{ if $isArchivePage }}
		{{ $sectionPages = (where .Site.RegularPages "Type" "post").ByDate.Reverse }}
	{{ else if $isRepliesPage }}
		{{ $sectionPages = (where .Site.RegularPages "Type" "reply").ByDate.Reverse }}
	{{ else if $isPhotosPage }}
		{{ $photoPages := where .Site.RegularPages "Type" "photo" }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "Params.photos" "!=" nil }}
		{{ end }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "Section" "photos" }}
		{{ end }}
		{{ if eq (len $photoPages) 0 }}
			{{ $photoPages = where .Site.RegularPages "RelPermalink" "like" "^/photos/" }}
		{{ end }}
		{{ if gt (len $photoPages) 0 }}
			{{ $sectionPages = $photoPages.ByDate.Reverse }}
		{{ end }}
	{{ end }}
	{{ if .Site.Params.paginate_categories }}
		{{ $paginator := .Paginate $sectionPages }}
		{{ range $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range $sectionPages }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}
{{ end }}

</ul>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}
